<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="#" class="header item">
      {{title}}
    </a>
  </div>
</div>

<sui-dimmer [(isDimmed)]="isDimmed" [isClickable]="true">
  <div class="ui text loader">Dados estão sendo enviados e processados...</div>
</sui-dimmer>

<div class="ui main text container">
  <div class="ui form">
    <div class="field">
      <label>Dados de entrada</label>
      <textarea [(ngModel)]="input" (ngModelChange)="assignParsedInput($event)"></textarea>
    </div>
  </div>
  <div></div>
  <button class="ui primary button" style="margin: 0.3em 0;" (click)="submitData()"
          [disabled]="parsedInput == null || input == null">
    Enviar
  </button>

  <div style="margin: 2em 0;" *ngIf="input != null">
    Preview do comando:
    <div *ngIf="parsedInput == null && input != null">
      <div class="ui red label">Dados de entrada inválidos</div>
    </div>
    <div class="ui segment">
      <div style="height: 150px; overflow-x: auto; padding: 0.5em 0;" *ngIf="parsedInput != null">
        <pre>{{parsedInput | json}}</pre>
      </div>
    </div>
  </div>

  <div style="margin: 2em 0;" *ngIf="result != null">
    Resultado:
    <div class="ui segment">
      <div *ngFor="let item of result.probesFinalPositions">
        {{item.coordinates.x}} {{item.coordinates.y}} {{printDirection(item.direction)}}
      </div>
    </div>
  </div>
</div>